.item-detail {
  display: flex;
  justify-content: center;
}

.add-to-cart-btn {
  width: 100%;
  padding: 1rem;
  background-color: #3498db;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.add-to-cart-btn:hover {
  background-color: #2980b9;
}

.add-to-cart-btn:active {
  transform: scale(0.98);
}